
[database]
type = mysql
host = "localhost"
user = "homestead"
pass = "secret"
dbname = "pokenotifier"

[telegram]
bot-id = "APIKEY"
admin-id = "TELEGRAMID"

[notifier]
lang = "de"
log = true

[webhook]
key = ""


